@charset "UTF-8";

* {
	box-sizing: border-box;
}

html {
	overflow-y: hidden;
	overflow-x: hidden;
}

body {
	margin: 0;
	background-color: white;
}

#background {
	display: grid;
	grid-template-columns: 10vw 10vw 60vw 20vw;
	grid-template-rows: 10vh 85vh 5vh;
	grid-template-areas: 
	    "header header header header"
	    "select subselect list list"
	    "footer footer footer footer";
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	
	padding-left: 2rem;
	padding-right: 2rem;
	
	grid-area: header;
}

#select {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	
	grid-area: select;
}

#subselect {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	
	grid-area: subselect;
}

#list {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
	
	
	grid-area: list;
}

#listInner {
	margin-top: 2vh;
	margin-left: 17vw;
	padding: 3rem;
	border: black solid 2px;
}

#footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	grid-area: footer;
}

h1, p, h2, th, td{
	margin:0;
	color: black;
}

table {
	width: 75vw;
	margin-top: 1vh;
	
	border: black solid 2px;
	border-radius: 15px;
	border-collapse: collapse;
}

th {
	border-left: gray solid 2px;
	border-right: black solid 2px;
}

tr {
	border-bottom: black solid 2px;
	border-top: black solid 2px;
}

td, th {
	text-align: center;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	background-color: black;
	border: None;
	border-radius: 5px;
	color: white;
	
	margin: 1vh;
}

.selectBtn {
	height: 5vh;
	width: 8vw;
}

.process {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.modal {
	display: none;
	
	width: 60vw;
	height: 60vh;
	
	background-color: #00000080;
	border: gray 3px solid;
	
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

#menu, #insert {
	border: gray 3px solid;
}

#writeForm {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-content: space-between;
	text-align: start;
	
	color: black;
	
	width: 19vw;
}

.inputDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
	margin-bottom: 1.5rem;
}

input[type=text], input[type=number], input[type=time] {
	border: none;
	border-bottom:1px ridge black;	
}

input[type=text]:focus, input[type=number]:focus, input[type=time]:focus {
	border: none;
	border-bottom:2px ridge black;	
	outline: none;
	
	transition: 0.2s;
}

legend {
	text-align: center;
}

.centerDiv {
	align-self: center;
}

input[type=submit] {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	background-color: black;
	border: None;
	border-radius: 5px;
	color: white;
	
	height: 5vh;
	margin: 1vh;
}

input[type=submit]:hover {
	border: gray 2px solid;
	transition: 0.2s;
}

button:hover{
	border: gray 2px solid;
	transition: 0.2s;
}