@charset "UTF-8";

* {
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

html::-webkit-scrollbar{
	background-color: gray;
}

html::-webkit-scrollbar-thumb{
	background-color: black;
}

html::-webkit-scrollbar-track{
	
}

body {
	margin: 0;
	background-color: white;
}

#background {
	display: grid;
	grid-template-columns: 10vw 10vw 60vw 20vw;
	grid-template-rows: 10vh 85vh 5vh;
	grid-template-areas: 
	    "header header header header"
	    "select list list list"
	    "footer footer footer footer";
}

#header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	grid-area: header;
}

#select {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	
	grid-area: select;
}

#subselect {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	
	grid-area: subselect;
}

#list {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	
	grid-area: list;
}

#header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	
	padding-left: 2rem;
	padding-right: 2rem;
	
	grid-area: header;
}

#footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	grid-area: footer;
}

h1, p, h2, th, td{
	margin:0;
	color: black;
}

table {
	width: 60vw;
	margin-top: 3vh;
	margin-left: 10vw;
	
	border: black solid 2px;
	border-radius: 15px;
	border-collapse: collapse;
}

th {
	border-left: black solid 2px;
	border-right: black solid 2px;
}

tr {
	border-bottom: black solid 2px;
	border-top: black solid 2px;
}

td, th {
	text-align: center;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
	background-color: black;
	border: None;
	border-radius: 5px;
	color: white;
	
	height: 5vh;
	width: 6vw;
	margin: 1vh;
}

.selectBtn {
	height: 5vh;
	width: 8vw;
}

.process {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.modal {
	display: none;
	
	width: 60vw;
	height: 80vh;
	
	background-color: #00000080;
	border: gray 3px solid;
	
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

#order {
	border: gray 3px solid;
}

button:hover {
	border: gray 2px solid;
	transition: 0.2s;
}

.orders {
	padding-left: 2rem;	
	padding-top: 2rem;
	
	overflow-y: scroll;
}

.orders::-webkit-scrollbar{
	background-color: #00000000;
}

.orders::-webkit-scrollbar-thumb{
	background-color: black;
}

.orders::-webkit-scrollbar-track{
	
}

.ordersText {
	color: white;
}